<!DOCTYPE html>
<html lang="zxx" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Gym Template">
    <meta name="keywords" content="Gym, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fitness | Club</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/barfiller.css" type="text/css">
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Section Begin -->
    <!-- Offcanvas Menu Section Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="canvas-close">
            <i class="fa fa-close"></i>
        </div>

        <nav class="canvas-menu mobile-menu">
            <ul>
                <li><a th:href="@{'/home'}">Acasa</a></li>
                <li><a th:href="@{'/angajat/list'}">Echipa noastra</a></li>
                <li><a th:href="@{'/abonament/new'}">Abonamente</a></li>
                <li><a th:href="@{'/Nutritie'}">Nutritie</a></li>
                <li class="active"><a th:href="@{'/Antrenamente'}">Antrenamente</a></li>
                <li><a th:href="@{'/constientizareCalorii'}">Constientizarea caloriilor</a></li>
                <li><a sec:authorize="hasRole('ROLE_USER')" th:href="@{'/istoric/new'}">Contul Meu</a></li>
                <li><a th:href="@{'/produse/list'}">Produse</a></li>
                <li><a sec:authorize="hasAnyRole('ADMIN', 'ANG')" th:href="@{'/comanda/list'}">Comenzi</a></li>
                <li><a sec:authorize="hasRole('ROLE_USER')" th:href="@{'/cos/list'}">Cos</a></li>
                <li ><a th:href="@{'/mesaj/new'}">Contact</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>

    </div>
    <!-- Offcanvas Menu Section End -->


    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <div class="logo">
                        <a th:href="@{'/home'}"></a>
                            <img src="/img/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="nav-menu">
                        <ul>
                            <li><a th:href="@{'/home'}">Acasa</a></li>
                            <li><a th:href="@{'/angajat/list'}">Echipa noastra</a></li>
                            <li><a th:href="@{'/abonament/new'}">Abonamente</a></li>
                            <li><a th:href="@{'/Nutritie'}">Nutritie</a></li>
                            <li class="active"><a th:href="@{'/Antrenamente'}">Antrenamente</a></li>
                            <li><a th:href="@{'/constientizareCalorii'}">Constientizarea caloriilor</a></li>
                            <li><a sec:authorize="hasRole('ROLE_USER')" th:href="@{'/istoric/new'}">Contul Meu</a></li>
                            <li><a th:href="@{'/produse/list'}">Produse</a></li>
                            <li><a sec:authorize="hasAnyRole('ADMIN', 'ANG')" th:href="@{'/comanda/list'}">Comenzi</a></li>
                            <li><a sec:authorize="hasRole('ROLE_USER')" th:href="@{'/cos/list'}">Cos</a></li>
                            <li ><a th:href="@{'/mesaj/new'}">Contact</a></li>

                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="top-option">
                        <div class="to-search search-switch">
                            <h5 sec:authentication="name" style="color: white">User</h5>
                        </div>
                        <div class="to-social">
                            <form th:action="@{/logout}" method="post">
                                <button type="submit" class="btn btn-danger" style="width: 10px;height: 30px"><i class="fa fa-sign-out"></i></button>

                            </form>

                        </div>
                    </div>
                </div>
                
            </div>
            <div class="canvas-open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Blog Details Hero Section Begin -->
    <section class="blog-details-hero set-bg" data-setbg="/img/plan/abdomenf.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 p-0 m-auto">
                    <div class="bh-text">
                        <h3>Exercitii pentru abdomen</h3>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Hero Section End -->

    <!-- Blog Details Section Begin -->
    <section class="blog-details-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 p-0 m-auto">
                    <div class="blog-details-text">
                        <div class="blog-details-title">
                            
                            <h5> Crunch-ul simplu</h5>
                            <p>Abdomenele scurte (crunch), in varianta de baza, sunt piatra de temelie pentru construirea unui abdomen puternic. Sunt exercitii simple, le poti face oriunde, si daca nu ai prea mult timp la dispozitie, sunt excelente pentru un antrenament rapid pentru abdomen
                            </p>
							<img src="/img/plan/abdomen1.jpg" alt="" class="center">
							
							<p>Mod de executare:Intinde-te pe podea cu genunchii indoiti. Iti poti aseza mainile pe langa urechi, sau incrucisate pe piept, dar in niciun caz impreunate in spatele gatului, pentru ca nu trebuie sa tragi de gat in timpul ridicarii. Apasa partea inferioara a spatelui pe podea si ridica umerii catre genunchi, mentinand coloana vertebrala cat de dreapta cu putinta.</p>
                        </div>
    
                        </div>
                    </div>
                </div>
				
				
				
				<div class="row">
                <div class="col-lg-8 p-0 m-auto">
                    <div class="blog-details-text">
                        <div class="blog-details-title">
                            
                            <h5>Crunch-ul bicicleta</h5>
                            <p>Crunch-ul bicicleta este un exercitiu excelent in cadrul unui antrenament scurt, alaturi de abdomenele scurte simple, pentru ca poti trece foarte usor de la o miscare la alta si sa faci un antrenament pentru muschii oblici si pentru abdomenul inferior.
                            </p>
							<img src="/img/plan/abdomen2.jpg" alt="" class="center">
                        </div>
                       
                        <div class="blog-details-desc">
                            <p>Mod de executare: Stai intinsa pe spate, cu picioarele intinse si mainile la urechi.
								Incordeaza muschii stomacului, si ridica in acelasi timp genunchiul drept catre piept si umarul stang de pe podea, flexand in asa fel incat sa incerci sa atingi genunchiul drept cu cotul stang. Nu e neparat nevoie sa se atinga, trebuie doar sa faci cat de mult poti din miscare, dar incearca sa nu supracompensezi nici cu genunchiul, si nici cu cotul. Ideea este sa incerci sa le faci sa se atinga undeva intr-un punct de mijloc.
								Relaxeaza muschiul si apoi repeta miscarea cu genunchiul si cotul opus.
                            </p>
                        </div>

                        </div>
                    </div>
                </div>
				
				
				
				<div class="row">
                <div class="col-lg-8 p-0 m-auto">
                    <div class="blog-details-text">
                        <div class="blog-details-title">
                            
                            <h5>Abdomenele Flutter Kick</h5>
                            <p>Acest tip de abdomen este o miscare dinamica, ce functioneaza foarte bine pe abdominalii inferiori. Daca ai probleme cu crunch-urile inverse, atunci poti pune accent pe aceasta miscare in antrenamentele tale.
                            </p>
							 <img src="/img/plan/abdomen3.jpg" alt="" class="center">
                        </div>
                       
                        <div class="blog-details-desc">
                            <p>Mod de executare: Incepe miscarea din aceeasi pozitie ca si la crunch-urile inverse. Ridica ambele picioare usor de la podea, la un unghi de maxim 30 de grade. Alterneaza miscari de lovire cu ambele picioare intinse. Nu trebuie sa exagerezi miscarea, poti mentine loviturile cat de superficiale poti, si sa incepi sa lovesti mai mult pe masura ce capeti mai multa forta in muschi. Exact ca in cazul crunch-urilor inverse, incearca sa eviti ca zona inferioara a spatelui sa se arcuiasca de la podea.
                            </p>
                        </div>
						
						
						
						
                        
                           
                        </div>
                    </div>
                </div>
				
				
				<div class="row">
                <div class="col-lg-8 p-0 m-auto">
                    <div class="blog-details-text">
                        <div class="blog-details-title">
                            
                            <h5>Plank</h5>
                            <p>Exercitiile tip plank (plansa) de baza sunt un exercitiu static. Insa daca nu necesita miscare, nu inseamna si ca va fi un exercitiu usor! In cazul plansei stabilitatea este cea mai importanta, asadar incearca sa iti mentii corpul cat mai imobil, o perioada cat mai lunga. Rezistenta este cea care iti va face muschii sa lucreze.
                            </p>
								<img src="/img/plan/abdomen4.jpg" alt="" class="center">
                        </div>
					
                        <div class="blog-details-desc">
                            <p>Mod de executare:Incepe dintr-o pozitie de flotare, cu bratele aproape drepte, cu talpile departate la o latime de sold si echilibrandu-te pe degetele de la picioare. Asigura-te ca tii corpul drept de la cap pana la talpi. Evita sa privesti in sus, ridicand fundul sau lasand soldurile in jos. Daca esti incepatoare, poti incerca sa faci aceasta miscare sprijinindu-te pe coate pana cand devii mai puternica si capeti mai mult echilbru.
							Tot ce trebuie sa faci este sa mentii aceasta pozitie cat mai mult timp. Si nu este deloc atat de simplu pe cat pare!
                            </p>
                        </div>
   
                        </div>
                    </div>
                </div>
				
				
				<div class="row">
                <div class="col-lg-8 p-0 m-auto">
                    <div class="blog-details-text">
                        <div class="blog-details-title">
                            
                            <h5>Rasucirea ruseasca</h5>
                            <p>Rasucrile rusesti sunt un exercitiu excelent care se focuseaza pe muschii oblici, dar este usor de invatat si il poti adapta pe masura ce iti imbunatatesti forta si echilibrul.
                            </p>
							<img src="/img/plan/abdomen5.jpg" alt="" class="center">
                        </div>
                        
                        <div class="blog-details-desc">
                            <p>Mod de executare: Stai in fund pe podea cu genunchii indoiti si cu talpile pe podea. Tine spatele drept, cu coloana imobila si cu umerii inapoi. Intinde bratele in fata ta, cu palmele orientate in jos.

							Lasa-te usor pe spate, la un unghi de aproximativ 45 de grade, mentinand spatele drept.
							Rasuceste-te catre stanga, lasand ambele brate intinse spre podea, ca si cand ai vrea sa o atingi. Mentine un moment, apoi lucreaza pe partea cealalta.

							Pe masura ce devii mai puternica, poti intensifica rasucirea ruseasca ridicand picioarele usor de pe podea.
                            </p>
                        </div>

                           
                        </div>
                    </div>
                </div>
				
				
				<div class="row">
                <div class="col-lg-8 p-0 m-auto">
                    <div class="blog-details-text">
                        <div class="blog-details-title">
                            
                            <h5> V-Tuck</h5>
                            <p>V-Tuck este un exercitiu uniform, echilibrat dar dinamic care lucreaza abdominalii superiori si inferiori impreuna. Odata ce inveti miscarea, exista sanse sa devina unul dintre exercitiile tale favorite, pentru ca este extrem de eficient desi este o miscare surprinzator de fluida.
                            </p>
							<img src="/img/plan/abdomen6.jpg" alt="" class="center">
                        </div>
                        
                        <div class="blog-details-desc">
                            <p>Mod de executare: Stai pe spate, cu picioarele intinse si mainile intinse de o parte si de cealalta a capului. Ridica picioarele usor de pe podea, apoi indoaie genunchii si trage genunchii catre piept. In acelasi timp, ridica umerii si adu bratele catre picioare pe langa genunchi, tragand de umeri spre inainte. Revino incet in pozitia de start si repeta miscarea.
                            </p>
                        </div>
                           
                        </div>
                    </div>
                </div>
				
				
				
				
				
						
						
						
                        
                
				
				
				
				
            </div>
        
    </section>
    <!-- Blog Details Section End -->


   <!-- Footer Section Begin -->
    <section class="footer-section">

                <div class="col-lg-12 text-center">
                    <div class="copyright-text">
                        <p>
  Copyright &copy;2022 All rights reserved FitnessClub <i class="fa fa-heart" aria-hidden="true"></i></a>
 </p>
                    </div>
                </div>
           
       
    </section>
    <!-- Footer Section End -->



<!-- Js Plugins -->
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/masonry.pkgd.min.js"></script>
<script src="/js/jquery.barfiller.js"></script>
<script src="/js/jquery.slicknav.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>


</body>

</html>