<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Gym Template">
    <meta name="keywords" content="Gym, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fitness | Club</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">

    <script src="https://code.highcharts.com/highcharts.js"></script>

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/barfiller.css" type="text/css">
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Section Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="canvas-close">
            <i class="fa fa-close"></i>
        </div>

        <nav class="canvas-menu mobile-menu">
            <ul>
                <li><a th:href="@{'/home'}">Acasa</a></li>
                <li><a th:href="@{'/angajat/list'}">Echipa noastra</a></li>
                <li><a th:href="@{'/abonament/new'}">Abonamente</a></li>
                <li><a th:href="@{'/Nutritie'}">Nutritie</a></li>
                <li><a th:href="@{'/Antrenamente'}">Antrenamente</a></li>
                <li><a th:href="@{'/constientizareCalorii'}">Constientizarea caloriilor</a></li>
                <li class="active"><a sec:authorize="hasRole('ROLE_USER')" th:href="@{'/istoric/new'}">Contul Meu</a></li>
                <li><a th:href="@{'/produse/list'}">Produse</a></li>
                <li><a sec:authorize="hasAnyRole('ADMIN', 'ANG')" th:href="@{'/comanda/list'}">Comenzi</a></li>
                <li><a sec:authorize="hasRole('ROLE_USER')" th:href="@{'/cos/list'}">Cos</a></li>
                <li ><a th:href="@{'/mesaj/new'}">Contact</a></li>

            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>

    </div>
    <!-- Offcanvas Menu Section End -->

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <div class="logo">
                        <a th:href="@{'/home'}"></a>
                            <img src="/img/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="nav-menu">
                        <ul>
                            <li><a th:href="@{'/home'}">Acasa</a></li>
                            <li><a th:href="@{'/angajat/list'}">Echipa noastra</a></li>
                            <li><a th:href="@{'/abonament/new'}">Abonamente</a></li>
                            <li><a th:href="@{'/Nutritie'}">Nutritie</a></li>
                            <li><a th:href="@{'/Antrenamente'}">Antrenamente</a></li>
                            <li><a th:href="@{'/constientizareCalorii'}">Constientizarea caloriilor</a></li>
                            <li class="active"><a sec:authorize="hasRole('ROLE_USER')" th:href="@{'/istoric/new'}">Contul Meu</a></li>
                            <li><a th:href="@{'/produse/list'}">Produse</a></li>
                            <li><a sec:authorize="hasAnyRole('ADMIN', 'ANG')" th:href="@{'/comanda/list'}">Comenzi</a></li>
                            <li><a sec:authorize="hasRole('ROLE_USER')" th:href="@{'/cos/list'}">Cos</a></li>
                            <li ><a th:href="@{'/mesaj/new'}">Contact</a></li>

                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="top-option">
                        <div class="to-search search-switch">
                            <h5 sec:authentication="name" style="color: white">User</h5>
                        </div>
                        <div class="to-social">
                            <form th:action="@{/logout}" method="post">
                                <button type="submit" class="btn btn-danger" style="width: 10px;height: 30px"><i class="fa fa-sign-out"></i></button>

                            </form>

                        </div>
                    </div>
                </div>
                
            </div>
            <div class="canvas-open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="/img/hero/hero-1.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    
                        <h1 style="color:white">CALCULARE CALORII & INDICELE DE MASA CORPORALA</h1>
                        
                   
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
	  <!-- BMI Calculator Section Begin -->
    <section class="bmi-calculator-section spad">
        <div class="container">
            <div class="row">
               
                <div class="col-lg-6">
                    <div class="section-title chart-calculate-title">
                        <span>verifica-ti corpul</span>
                        <h2>CALCULARE CALORII & INDICELE DE MASA CORPORALA</h2>
                    </div>
                    <div class="chart-calculate-form">
                        <p>Obezitatea și supraponderea reprezintă o problemă majoră de sănătate în lumea modernă și principalul factor în creșterea morbidității generale, scăderea speranței de viață și a calității vieții.

                        Riscurile legate de prezența supraponderii și obezității sunt multiple, afectând toate sistemele organismului. Un indice al masei corporale IMC > 30 crește exponențial riscul de complicații și patologii asociate, dintre care cele mai grave sunt diabetul zaharat și bolile cardiovasculare.</p>
                        <form th:object="${istoricC}" th:action="@{/istoric/}" modelAttribute="istoricC" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <input type="hidden" th:field="*{id}"/>
                                <input type="hidden" th:field="*{idc}"/>
                                <input type="hidden"  id="emailc" name="emailc" th:value="${#authentication.name}" >
                                <div class="col-sm-6">
                                    <input type="text" placeholder="Greutatea / kg" th:field="*{greutatea}" required>
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" placeholder="Inaltimea / cm" th:field="*{inaltimea}" required>
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" placeholder="Varsta" th:field="*{varsta}" required>
                                </div>

                                <div class="col-lg-12">
                                    <button type="submit">Calculare</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
				
				 <div class="col-lg-6">
                    <div class="section-title chart-title">
                        <span>GRAFICUL EVOLUTIEI</span>
                        <figure class="highcharts-figure">
                            <div id="container"></div>
                        </figure>
                    </div>
                 </div>
            </div>
				<br><br><br><br><br><br><br>
			<!--ROW 2-->
			 <div class="row">
               
                 <div class="col-lg-6">
                    <div class="section-title chart-title">

                        <h2>Rezultatele dumneavoastra</h2>
                        <span>Obtinute in urma datelor introduce mai sus</span>

                    </div>
                    <div class="chart-table">
                        <table>
                            <thead>
                                <tr>
                                    <th>SCOP</th>
                                    <th>NECESAR CALORIC</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="point">Mentinere</td>
                                    <td th:text="'Necesar:  ' + ${calorii} + '  kcal'"></td>
                                </tr>
                                <tr>
                                    <td class="point">Slabire si definire</td>
                                    <td th:text="'Necesar:  ' + ${calorii - 300} + '  kcal'"></td>
                                </tr>
                                <tr>
                                    <td class="point">Masa musculara</td>
                                    <td th:text="'Necesar:  ' + ${calorii + 300} + '  kcal'"></td>
                                </tr>
								 <tr>
                                    <td class="point">Deficit caloric=</td>
                                    <td>Calorii de mentinere - 500 de calorii</td>
                                </tr>
                                <tr>
                                    <td class="point">Surplus caloric=</td>
                                    <td>Calorii de mentinere + 300 de calorii</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
				
				 <div class="col-lg-6">
                    <div class="section-title chart-title">

                        <h2>Indicele de masă corporală</h2>
                        <span>Aveti un IMC=<span th:text="${#numbers.formatDecimal(imc,2,2)}">asd</span> consultati tabelul de mai jos.</span>
                    </div>
                    <div class="chart-table">
                        <table>
                            <thead>
                                <tr>
                                    <th>IMC</th>
                                    <th>STARE DE GREUTATE</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="point">&lt; 18.5</td>
                                    <td>Subponderal</td>
                                </tr>
                                <tr>
                                    <td class="point">18.5 - 24.9</td>
                                    <td>Normoponderal</td>
                                </tr>
                                <tr>
                                    <td class="point">25.0 - 29.9</td>
                                    <td>Supraponderal</td>
                                </tr>
                                <tr>
                                    <td class="point">30.0 - 40.0</td>
                                    <td>Obezitate grad I</td>
                                </tr>
								 <tr>
                                    <td class="point">&gt; 40.0</td>
                                    <td>Obezitate grad II</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- BMI Calculator Section End -->

	
<!-- Contact Section Begin -->
<section class="class-details-section spad">

    <div class="container">
	<div class="section-title chart-title">
                      
                        <h2 align="center">Istoric</h2>
    </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="class-timetable">
				
                    <table style="width: 100%;" class="data-table">
                        <thead>
                        <tr>
                            <th>
                                Id
                            </th>
                            <th>Data_inregistrare </th>
                            <th>Greutatea(kg)</th>
                            <th>Inaltimea(cm)</th>
                            <th>Varsta</th>
                            
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="ist : ${istoricClients}" class="dark-bg hover-bg ts-meta " data-tsmeta="workout">
                            
                            
                          
                              <td class="hover-bg ts-meta">
                                  <h5 th:text="${ist.id}">Id</h5>
                               
                            </td>
							  <td class="hover-bg ts-meta data_inregistarii">
                                  <h5 th:text="${ist.data_inregistrare}">Id</h5>

                               
                            </td>
							  <td class="hover-bg ts-meta greutate">
                                  <h5 th:text="${ist.greutatea}">Id</h5>

                                
                            </td>
							 <td class="hover-bg ts-meta">
                                 <h5 th:text="${ist.inaltimea}">Id</h5>
                            </td>
                            <td class="hover-bg ts-meta">
                                <h5 th:text="${ist.varsta}">Id</h5>
                            </td>
                        </tr>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </div>

</section>

  <!-- Footer Section Begin -->
    <section class="footer-section">

                <div class="col-lg-12 text-center">
                    <div class="copyright-text">
                        <p>
  Copyright &copy;2022 All rights reserved FitnessClub <i class="fa fa-heart" aria-hidden="true"></i></a>
 </p>
                    </div>
                </div>
           
       
    </section>
    <!-- Footer Section End -->



<!-- Js Plugins -->
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/masonry.pkgd.min.js"></script>
<script src="/js/jquery.barfiller.js"></script>
<script src="/js/jquery.slicknav.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>

<script>
    if ($('.data-table').length) {
        let data_inregistrarii = [];
        let greutate = [];
        $(".data_inregistarii").each(function () {
            let test = $(this).text();
            data_inregistrarii.push($.trim(test));
        });
        $(".greutate").each(function () {
            let test = $(this).text();
            greutate.push(parseFloat($.trim(test)));
        });
        Highcharts.chart('container', {
            chart: {
                type: 'line',
                backgroundColor: '#151515',
            },
            title: {
                text: 'Performanta',
                style: {"color": "white"}
            },
            xAxis: {
                categories: data_inregistrarii,
            },
            yAxis: {
                title: {
                    text: 'Greutate (Kg)'
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: false
                }
            },
            series: [{
                name: 'Istoric',
                data: greutate,
                color: '#f36100'
            }]

        });
    }
</script>
</body>

</html>