<!DOCTYPE html>
<html lang="zxx" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Gym Template">
    <meta name="keywords" content="Gym, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fitness | Club</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/barfiller.css" type="text/css">
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Section Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="canvas-close">
            <i class="fa fa-close"></i>
        </div>
        <div class="canvas-search search-switch">
            <i class="fa fa-search"></i>
        </div>
        <nav class="canvas-menu mobile-menu">
            <ul>
                <li><a href="./index.html">Home</a></li>
                <li><a href="./about-us.html">About Us</a></li>
                <li><a href="./class-details.html">Classes</a></li>
                <li><a href="./services.html">Services</a></li>
                <li><a href="./team.html">Our Team</a></li>
                <li><a href="#">Pages</a>
                    <ul class="dropdown">
                        <li><a href="./about-us.html">About us</a></li>
                        <li><a href="./class-timetable.html">Classes timetable</a></li>
                        <li><a href="./bmi-calculator.html">Bmi calculate</a></li>
                        <li><a href="./team.html">Our team</a></li>
                        <li><a href="./gallery.html">Gallery</a></li>
                        <li><a href="./blog.html">Our blog</a></li>
                        <li><a href="./404.html">404</a></li>
                    </ul>
                </li>
                <li><a href="./contact.html">Contact</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="canvas-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-youtube-play"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
    </div>
    <!-- Offcanvas Menu Section End -->

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <div class="logo">
                        <a th:href="@{'/home'}"></a>
                            <img src="/img/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="nav-menu">
                        <ul>
                            <li><a th:href="@{'/home'}">Acasa</a></li>
                            <li><a th:href="@{'/angajat/list'}">Echipa noastra</a></li>
                            <li><a th:href="@{'/abonament/new'}">Abonamente</a></li>
                            <li><a th:href="@{'/Nutritie'}">Nutritie</a></li>
                            <li class="active"><a th:href="@{'/Antrenamente'}">Antrenamente</a></li>
                            <li><a th:href="@{'/constientizareCalorii'}">Constientizarea caloriilor</a></li>
                            <li><a sec:authorize="hasRole('ROLE_USER')" th:href="@{'/istoric/new'}">Contul Meu</a></li>
                            <li><a th:href="@{'/produse/list'}">Produse</a></li>
                            <li><a sec:authorize="hasAnyRole('ADMIN', 'ANG')" th:href="@{'/comanda/list'}">Comenzi</a></li>
                            <li><a sec:authorize="hasRole('ROLE_USER')" th:href="@{'/cos/list'}">Cos</a></li>
                            <li ><a th:href="@{'/mesaj/new'}">Contact</a></li>

                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="top-option">
                        <div class="to-search search-switch">
                            <h5 sec:authentication="name" style="color: white">User</h5>
                        </div>
                        <div class="to-social">
                            <form th:action="@{/logout}" method="post">
                                <button type="submit" class="btn btn-danger" style="width: 10px;height: 30px"><i class="fa fa-sign-out"></i></button>

                            </form>

                        </div>
                    </div>
                </div>
                
            </div>
           
        </div>
    </header>
    <!-- Header End -->

    <!-- Blog Details Hero Section Begin -->
    <section class="blog-details-hero set-bg" data-setbg="/img/plan/piept.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 p-0 m-auto">
                    <div class="bh-text">
                        <h3>Exercitii pentru piept</h3>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Hero Section End -->

    <!-- Blog Details Section Begin -->
    <section class="blog-details-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 p-0 m-auto">
                    <div class="blog-details-text">
                        <div class="blog-details-title">
                            
                           
                            <p>Exercițiile de împingere sunt practic orice mișcare în care împingi greutatea departe de corpul tău. Aceste mișcări lucrează mușchi „de împingere”: pectoralii (pectoralis major și pectoralis minor), tricepsul și partea din față a umerilor (anterior deltoid).
							</br>
							Astfel, când faci un exercițiu cum ar fi împins din culcat cu bara dreaptă sau chair o simplă flotare, nu lucrezi doar pectoralii ci și umerii împreună cu tricepsul.
                            </p>
							<img src="/img/plan/piept1.jpg" alt="" class="center">
                        </div>
    
                        </div>
                    </div>
                </div>
				
				
				
				<div class="row">
                <div class="col-lg-8 p-0 m-auto">
                    <div class="blog-details-text">
                        <div class="blog-details-title">
                            
                            <h5>Împins din culcat cu bara dreaptă</h5>
                            <p>La împinsul din culcat pe o bancă poți lucra cu cea mai mare greutate. Acest exercițiu este de asemenea unul mai ușor de controlat față de împinsul din culcat cu gantere grele. În plus este foarte ușor de învățat și poți crește repede pieptul în forță și masă dacă folosești o greutate destul de dificilă, însă este bine să ai pe cineva în spate pentru a te ajuta la ultimele repetări.
                            </p>
							<img src="/img/plan/piept2.jpg" alt="" class="center">
                        </div>
                     
                        <div class="blog-details-desc">
                            <p>Acest exercițiu oferă cele mai bune rezultate la începutul antrenamentului. Folosește o greutate dificilă pentru că trebuie să faci serii cu un număr mic de repetări. Sfat: încearcă să schimbi cât mai des distanța dintre palme pentru a dezvolta tot pieptul, preferabil la fiecare serie.
                            </p>
                        </div>
						
						
						
						
                        
                           
                        </div>
                    </div>
                </div>
				
				
				
				<div class="row">
                <div class="col-lg-8 p-0 m-auto">
                    <div class="blog-details-text">
                        <div class="blog-details-title">
                            
                            <h5>Împins din înclinat cu bara dreaptă</h5>
                            <p>Majoritatea oamenilor fac acest exercițiu cu banca mult prea înclinată, astfel ei nu lucrează în totalitate partea superioară a pieptului ci mai mult umerii. Dacă chiar vrei să faci zona de sus a pieptului să iasă în evidență, nu folosi o priză prea largă, astfel vei reuși să implici mai mult fibre din mușchi.
                            </p>
							<img src="/img/plan/piept3.jpg" alt="" class="center">
                        </div>
                       
                        <div class="blog-details-desc">
                            <p>Antrenamentele clasice încep cu împinsul din culcat apoi trec la cel din înclinat. Tu poți trece peste acest obicei din când în când și poți începe cu înclinatele. Astfel vei avea mai multă forță și vei putea folosi o greutate mai mare decât de obicei, deci vei pune mai mult stres pe partea de sus a pieptului, lucru ce va conduce la o creștere în masă.
                            </p>
                        </div>
						
						
						
						
                        
                           
                        </div>
                    </div>
                </div>
				
				
				<div class="row">
                <div class="col-lg-8 p-0 m-auto">
                    <div class="blog-details-text">
                        <div class="blog-details-title">
                            
                            <h5>Împins din înclinat cu gantere</h5>
                            <p>Împinsul din înclinat cu gantere intră în topul exercițiilor preferate a multor culturiști. Principalul beneficiu al acestui exercițiu este că poți schimba unghiul în care faci mișcarea prin modificarea unghiului de înclinare al băncii. Astfel poți lucra pieptul mult mai eficient decât dacă ai avea o bancă fixă înclinată.
                            </p>
							<img src="/img/plan/piept4.jpg" alt="" class="center">
							
							<p>Acest exercițiu este printre primele pe care trebuie să le faci în antrenamentul tău, deoarece cu cât îl faci mai târziu cu atât mai puțină greutate vei putea împinge. Dacă chiar vrei să obții rezultate promițătoare, încearcă să rotești palmele puțin spre interior când ajungi cu ele sus.</p>
                        </div>
                      
   
                        </div>
                    </div>
                </div>
				
				
				<div class="row">
                <div class="col-lg-8 p-0 m-auto">
                    <div class="blog-details-text">
                        <div class="blog-details-title">
                            
                            <h5>Flotări</h5>
                            <p>Flotările sunt excelente deoarece poți face mici modificări în distanța dintre palme sau în poziția picioarelor, astfel vei obține diferite unghiuri sub care lucrezi pieptul. Acest exercițiu îl consider foarte eficient și ca unul de încălzire al mușchilor la începutul antrenamentului, dar și ca un finisher excelent (le faci la final până la eșec).
                            </p>
							<img src="/img/plan/pietp5.jpg" alt="" class="center">
                        </div>
                         

                           
                        </div>
                    </div>
                </div>
				
				
				
				
				
				<div class="row">
                <div class="col-lg-8 p-0 m-auto">
                    <div class="blog-details-text">
                        <div class="blog-details-title">
                            
                            <h5>Fluturări cu ganterele </h5>
                            <p>Stai întins pe o bancă cu o ganteră în fiecare mână sprijinite pe coapse. Palmele mâinilor o să fie îndreptate una către cealaltă.
								<br/>Apoi, cu ajutorul coapselor, ridică ganterele pe rând ajungând cu ele în fața ta la nivelul umerilor. Palmele mâinilor rămân îndreptate una către cealaltă. Ridică ganterele ca și când le-ai presa, dar oprește-te menținând coatele blocate. Aceasta este poziția de start.
								<br/>Îndoaie puțin coatele pentru a preveni stresul din tendonul bicepsului. Coboară brațele într-o mișcare de semicerc largă, menținând coatele blocate, până când simți o întindere în mușchii pieptului. Inspiră în timp ce faci această mișcare. Sfat: ține minte că pe tot parcursul mișcării brațele rămân fixe, toată mișcarea este făcută din încheietura umerilor.
								<br/>Ridică brațele din încheietura umerilor ca și când ai presa ganterele, în timp ce faci asta, expiră. Oprește-te înainte ca ganterele să se atingă. După ce te-ai oprit, fă o pauză de câteva momente în timp ce contractezi bine pieptul. Coboară încet brațele menținând coatele blocate și folosind aceeași mișcare de semicerc pentru a reveni în poziția de start.
								<br/>Repetă până când numărul de repetări cerute este atins
                            </p>
							<img src="/img/plan/piept5.jpg" alt="" class="center">
                        </div>
                      
                     
						
						
						
						
                        
                           
                        </div>
                    </div>
                </div>
				
				
				
				
				
						
						
						
                        
                
				
				
				
				
            </div>
        
    </section>
    <!-- Blog Details Section End -->


   <!-- Footer Section Begin -->
    <section class="footer-section">

                <div class="col-lg-12 text-center">
                    <div class="copyright-text">
                        <p>
  Copyright &copy;2022 All rights reserved FitnessClub <i class="fa fa-heart" aria-hidden="true"></i></a>
 </p>
                    </div>
                </div>
           
       
    </section>
    <!-- Footer Section End -->



<!-- Js Plugins -->
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/masonry.pkgd.min.js"></script>
<script src="/js/jquery.barfiller.js"></script>
<script src="/js/jquery.slicknav.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>


</body>

</html>